assertpy==1.1
asgiref==3.8.1
astroid==3.3.9
beautifulsoup4==4.13.4
Django==4.2
psycopg2-binary==2.9.10
pylint==3.3.6
pytest==8.3.5
pytest-django==4.11.1
python-dotenv==1.1.0
requests==2.32.4
sqlparse==0.5.3
typing_extensions==4.13.0
tzdata==2025.2
